name: ci.yml

on:
  push:
    branches:
      - main
      - develop
      - 'release/*'
      - 'hotfix/*'
  pull_request:
    # feature 브랜치는 보통 develop으로 PR을 생성하기 때문에 develop이 target 브랜치에 포함되어 있다면 별도로 적지 않아도 됩니다.
    branches:
      - main
      - develop
      - 'release/*'
      - 'hotfix/*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: uv sync --frozen

      - name: Run Ruff Check (Linting)
        run: uv run ruff check .

      - name: Run Ruff Format Check
        run: uv run ruff format . --check
